---
permalink: /
title: ruby_odata - OData client for Ruby
---

<main id="main">

<blockquote><p>The&nbsp;<strong>Open Data Protocol</strong>&nbsp;(OData) is a fantastic way to query and update data over standard Web technologies. The ruby_odata library acts as a consumer of OData services.</p></blockquote>
<br/>
<p>Visit the <a rel="noreferrer noopener" href="https://github.com/visoft/ruby_odata" data-type="URL" data-id="https://github.com/visoft/ruby_odata" target="_blank">ruby_odata</a> on GitHub today!</p>
</main>


<figure>
  {% image "/assets/images/ruby_odata.png", "ruby_odata favicon" %}
</figure>
